@import "tailwindcss";

@theme {
  --color-primary: #257bf4;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101722;
  --font-display: "Inter", sans-serif;
}

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Inter', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 25s linear infinite;
}

.animate-scroll-up-slow {
  animation: scroll-up 30s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}